<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <link rel="stylesheet" href="../../assets/styles/custom-style.css">
  <title>Document</title>
</head>
    <body>

    {{>logbutton}}

     {{> header}}

     {{> navbar}}
     
     <div class="form">
        <div class="form-container">
          <h2>EDIT PROJECT</h2>
          <form name="form-project" method="post" action="/project/edit/{{project.id}}" enctype="multipart/form-data">
            <div class="form-group">
              <label>Project Name</label>
              <input name="title" type="text" placeholder="Enter project name" value="{{project.title}}" required>
            </div>
            <div class="form-group-inline">
              <div class="form-group">
                <label>Start Date</label>
                <input name="start_date" type="date" value="{{project.start_date}}" required>
                </div>
                <div class="form-group">
                <label>End Date</label>
                <input name="end_date" type="date" value="{{project.end_date}}" required>
            </div>
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea name="description" rows="4" placeholder="Enter project description" required>{{project.description}}</textarea>
            </div>
            <div class="form-group">
              <label>Technologies</label>
              <div class="checkbox-group">
                <label><input type="checkbox" name="technologies" value="Node.js" {{#if (techIncludes project.technologies "Node.js")}}checked{{/if}}> Node.js</label>
                <label><input type="checkbox" name="technologies" value="Next.js" {{#if (techIncludes project.technologies "Next.js")}}checked{{/if}}> Next.js</label>
                <label><input type="checkbox" name="technologies" value="React.js" {{#if (techIncludes project.technologies "React.js")}}checked{{/if}}> React.js</label>
                <label><input type="checkbox" name="technologies" value="TypeScript" {{#if (techIncludes project.technologies "TypeScript")}}checked{{/if}}> TypeScript</label>
              </div>
            </div>
            <div class="form-group">
              <label>
              <p>Upload Image</p>
              </label>
              <img src="{{project.image}}" alt="Gambar Proyek" class="project-image">
              <div class="upload-button">
              <input name="image" type="file" accept="image/*">
                </div>
            </div>
            <button type="submit" name="submit-button" class="submit-button" >Submit</button>
            </form>
          </div>
        </div>


     {{> footer}}


    </body>
<script src="/assets/scripts/utils/utils.js"></script>
<script src="/assets/scripts/utils/navbar.js"></script>
</html>